<div id="imageContainer">
    <div id="videoContainer">
        <div id="videoLinks">
            <video id="video" controls>
                <source src="videoplayback.mp4" type="video/mp4">
                Tu navegador no soporta la etiqueta de video.
            </video>
        </div>
    </div>
    <div id="newsLink">
        <div id="titleLinksNews">
            <p>Fallout News</p>
        </div>
        <div id="textLinksNews">
            <p>Nuevas noticias sobre el universo de fallout y sobre los eventos recientes</p>
        </div>
        <div id="buttonLinksNews">
            <button routerLink="/Novedades" id="buttonLinks">Novedades</button>
        </div>
    </div>
</div>