<footer>
    <div id="information">
        <img src="083025c5ff11a431bc5f1d8227ebd462.png" id="falloutTitle" alt="Título de Fallout">
        <p id="text">Esta página es para los principiantes de Fallout</p>
        <p id="copyright">© copyright todos los derechos reservados</p>
    </div>
    <div id="socialMedia">
        <div id="titleSocialMedia">
            <p id="text">Redes Sociales</p>
        </div>
        <ul id="socialMediaList">
            <li>
                <a href="https://www.instagram.com/fallout/" title="Instagram">
                    <fa-icon [icon]="faInstagram"></fa-icon>
                    Instagram
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/Fallout" title="Facebook">
                    <fa-icon [icon]="faFacebook"></fa-icon>
                    Facebook
                </a>
            </li>
            <li>
                <a href="https://x.com/Fallout" title="twitter">
                    <fa-icon [icon]="faTwitter"></fa-icon>
                    twitter
                </a>
            </li>

        </ul>
    </div>
    <div id="latestNews">
        <p id="text">Páginas oficiales</p>
        <ul>
            <li><a href="https://bethesda.net/en/dashboard">Página oficial de bethesda</a></li>
            <li><a title="página fallout" href="https://fallout.bethesda.net/es">Página ofical de fallout</a></li>
        </ul>
    </div>
</footer>