<div id="contentInformation">
    <div id="whatis">
        <div id="titleWhat">
            <p class="title">¿Qué es fallout?</p>
        </div>
        <div id="textWhat">
            <p class="text">Fallout es una serie de videojuegos de rol y acción ambientada en un mundo postapocalíptico,
                caracterizado por una mezcla de cultura retro-futurista. La trama suele girar en torno a la
                supervivencia en un entorno devastado por la guerra nuclear</p>
        </div>
    </div>
    <div id="imageWhatis">
        <img src="fallout_PNG52.png" id="image">
    </div>
    <div id="why">
        <div id="titleWhy">
            <p class="title">¿Por qué fallout?</p>
        </div>
        <div id="textWhy">
            <p class="text">
                Fallout es una historia con una gran cantidad de datos que mantiene atrapado al jugador siendo que las
                historia se va actualizando continuamente con las nuevas entregas o series haciendo de ello una gran
                experiencia.
            </p>
        </div>
    </div>
    <div id="whyImage">
        <img src="fallout_PNG47.png" title="imagen fallout" id="imageWhy">
    </div>
</div>